<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>龙源果实</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <h1>${articleInfo.title}</h1>
        <div class="source">来源：${articleInfo.magazineName} &nbsp; 作者：${articleInfo.author}</div>
    </div>
    <!-- 文章主体-->
    <div class="content">
        ${articleInfo.articleContent}
        <p class="banquan">版权支持: 龙源</p>
    </div>
</div>
</body>
</html>